@import '~@angular/material/theming';
@import '~pip-webui2-themes/src/styles.scss';
@include mat-core();
@mixin time-range-mixin($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
     :host {
        border: dashed 2px mat-color($foreground, divider);
        .delete-button {
            color: mat-color($foreground, text);
            background: mat-color($background, card);
            opacity: 0.56;
        }

        &:hover pip-time-range {
            background: mat-color($foreground, divider);
        }
    }
}

.unicorn-dark-theme {
    @include time-range-mixin($dark-theme);
}

.candy-theme {
    @include time-range-mixin($candy-app-theme);
}

.pip-blue-theme {
    @include time-range-mixin($pip-blue-theme);
}

.pip-grey-theme {
    @include time-range-mixin($pip-grey-theme);
}

.pip-navy-theme {
    @include time-range-mixin($pip-navy-theme);
}

.pip-amber-theme {
    @include time-range-mixin($pip-amber-theme);
}

.pip-green-theme {
    @include time-range-mixin($pip-green-theme);
}

.pip-orange-theme {
    @include time-range-mixin($pip-orange-theme);
}

.pip-pink-theme {
    @include time-range-mixin($pip-pink-theme);
}

.pip-dark-theme {
    @include time-range-mixin($pip-dark-theme);
}

.pip-black-theme {
    @include time-range-mixin($pip-black-theme);
}

.bootbarn-warm-theme {
    @include time-range-mixin($bootbarn-warm-theme);
}

.bootbarn-cool-theme {
    @include time-range-mixin($bootbarn-cool-theme);
}

.bootbarn-mono-theme {
    @include time-range-mixin($bootbarn-mono-theme);
}

:host {
   
}